:root {
  --white: #f4f4f4;
  --default-white: #ffffff;
  --background-one: #1a1e1f;
  --background-two: #2b2b2b;
  --background-three: #161616;
  --nav-blue: #00a3e0;
  --text-blue: #00aef3;
  --dark-blue: #0080b0;
  --border-color: #555555;
  --light-gray: #aaaaaa;
  --button-blue: #57bee7;
  --button-white: #d5d5d5;
  --transparent-background: #222222f2;
  --overlay: rgba(0, 0, 0, 0.5);
  --text-gray: #8c8c8c;
  --close-button-color: #1c1c1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "arial";
  src: url("assets/bpg_arial_2009.ttf") format("truetype");
}

@font-face {
  font-family: "mtavruli";
  src: url("assets/bpg_nino_mtavruli_normal.ttf") format("truetype");
}

@font-face {
  font-family: "mtavruli-bold";
  src: url("assets/bpg_nino_mtavruli_bold.ttf") format("truetype");
}

body {
  background-color: gray;
  margin: 0;
  font-family: arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
}

h1 {
  font-size: 100px;
}

.x-icon {
  transform: rotate(180deg);
  margin-top: 1rem;
  display: block;
}

.header {
  position: fixed;
  z-index: 987;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 8.4rem;
  background-color: var(--background-one);
  transition: all 0.5s ease;
}

.on-header-scroll {
  background-color: var(--transparent-background);
}

.header-helper {
  height: 8.4rem;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 98rem;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.academy-wording {
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--default-white);
  font-family: mtavruli, sans-serif;
  margin-top: 1.5rem;
  letter-spacing: 0.15rem;
}

.company-icon {
  height: 4rem;
  display: block;
}

.navlinks-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navlink:visited,
.navlink:link {
  text-decoration: none;
  color: var(--white);
  font-size: 1.4rem;
  padding: 0 22px 0 22px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  transition: all 0.5s;
  display: block;
  padding-top: 0.4rem;
  padding-bottom: 0.41rem;
}

.navlink:hover,
.navlink:active {
  color: #00a3e0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-photo {
  width: 100%;
  object-fit: cover;
}

.main-text {
  position: absolute;
  top: 30%;
  width: 98rem;
  font-family: mtavruli-bold, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  max-height: 420px;
}

.project-name-1 {
  font-size: 4.2rem;
  font-weight: 900;
}

.project-name-2 {
  font-size: 3.6rem;
  font-weight: 900;
}

.info-section {
  background-color: var(--background-two);
  width: 100%;
  display: flex;
  justify-content: center;
}

.info {
  width: 98rem;
  margin-top: 5.8rem;
  margin-bottom: 5.8rem;
}

.info-text {
  font-size: 2.8rem;
  line-height: 150%;
}

.info-redirect-link:link,
.info-redirect-link:visited {
  text-decoration: none;
  display: inline-block;
  margin-top: 5.1rem;
  font-size: 2rem;
  color: var(--text-blue);
  font-weight: 600;
}

.info-redirect-link:hover,
.info-redirect-link:active {
  color: var(--light-gray);
}

.courses-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-three);
}

.courses-title-wrapper {
  margin-top: 3.3rem;
  font-size: 2.4rem;
  width: 98rem;
}

.courses-cards {
  margin-top: 6.5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 2.3rem;
  column-gap: 4rem;
  margin-bottom: 5.8rem;
}

.card-img-wrapper {
  width: 100%;
}

.card-img {
  width: 100%;
}

.course-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--background-two);
  border-radius: 3px;
  width: 30rem;
}

.course-name {
  margin-top: 3.5rem;
  font-size: 1.8rem;
}

.course-status {
  margin-top: 2.7rem;
  font-size: 1.4rem;
}

.course-details-wrapper {
  margin-top: 10.3rem;
  font-size: 1.6rem;
  margin-bottom: 2.6rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.course-description p,
.course-details-wrapper {
  padding-left: 2.1rem;
  padding-right: 1.2rem;
  line-height: 150%;
}

.arrow-logo,
.course-details-link {
  display: block;
}

.course-details-link:link,
.course-details-link:visited {
  text-decoration: none;
  color: var(--text-blue);
  transition: all 0.5s;
}

.course-details-link:hover,
.course-details-link:active {
  color: var(--dark-blue);
}

.slider-title-wrapper {
  margin-top: 3.5rem;
  font-size: 2.4rem;
  width: 98rem;
}

.slider-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background-two);
  position: relative;
}

.questions-section {
  background-color: var(--background-one);
  display: flex;
  justify-content: center;
}

.questions-block {
  margin-top: 7.5rem;
  width: 98rem;
  padding: 3rem 4rem 4rem 4rem;
  margin-bottom: 3.2rem;
}

.questions-header {
}

.questions-header {
  display: flex;
  justify-content: space-between;
}

.questions-title {
  font-size: 2.4rem;
}

.questions-redirect:link,
.questions-redirect:visited {
  font-size: 2rem;
  font-weight: 600;
  margin-right: 0.5rem;
  display: inline-block;
  text-decoration: none;
  color: var(--text-blue);
  transition: all 0.5s;
  letter-spacing: 0.4px;
}

.questions-redirect:hover,
.questions-redirect:active {
  color: var(--light-gray);
}

.questions-container {
  margin-top: 3rem;
}

.question-item {
  border-bottom: 1px solid var(--border-color);
}

.question {
  font-size: 1.8rem;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.answer-container {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.questions-container.active .answer-container {
  height: fit-content;
}

.answer {
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 180%;
}

.answer-title {
  padding-left: 0.2rem;
}

.answer-content {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.answer-footer {
  padding-left: 0.2rem;
}

.aside {
  height: 1000px;
  background-color: #555555;
}

.rotate {
  transform: rotate(180deg);
}

.question-arrow {
  transition: all 0s 0.5s;
}

.footer {
  background-color: var(--background-two);
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.footer-block {
  width: 100rem;
  margin-top: 6.3rem;
}

.footer-icons-wrapper {
  display: flex;
  justify-content: space-between;
}

.tbc-footer-logo {
  height: 3rem;
}

.fb-logo,
.youtube-logo {
  height: 3.9rem;
}

.company-logos-wrapper {
  display: flex;
  gap: 0.6rem;
}

.copyright-notice {
  margin-top: 2rem;
  position: relative;
}

.rights-wording {
  font-size: 1.4rem;
  padding-left: 1rem;
}

.rights-icon {
  position: absolute;
  top: 0;
}

.info-and-contact {
  display: flex;
  justify-content: space-between;
}

.rules {
  font-size: 1.4rem;
  align-self: self-end;
  cursor: pointer;
  transition: all 0.3s ease;
}

.rules:hover {
  color: var(--light-gray);
}

.contact-button {
  padding: 1rem 3rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 10px;
  background-color: var(--text-blue);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease;
}

.contact-button:hover {
  background-color: var(--button-white);
}

.contact-button:hover .contact-text {
  color: var(--background-two);
}

.contact-text {
  color: var(--button-white);
}

.notification {
  height: 100%;
  width: 685px;
  transform: translateX(100%);
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--background-two);
  font-size: 1.6rem;
  overflow: scroll;
  transition: all 0.5s ease;
  z-index: 999;
  overflow: scroll;
  scrollbar-width: none;
  cursor: default;
}

.notification::-webkit-scrollbar {
  display: none;
}

.notification-overlay {
  background-color: var(--overlay);
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
}

.notification-close-button {
  display: flex;
  justify-content: space-between;
}

.notification-close-icon {
  margin-top: 3rem;
  margin-right: 3rem;
  display: block;
  cursor: pointer;
}

.notification-terms {
  font-size: 1.4rem;
  padding-left: 6rem;
  padding-right: 6rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  color: var(--text-gray);
}

.terms-title {
  font-size: 2.2rem;
  font-weight: 600;
}

.terms-second-titles {
  font-size: 1.6rem;
}

.close-notification-second-button {
  margin-top: 10.6rem;
  margin-bottom: 2rem;
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.6rem;
  color: var(--light-gray);
  color: var(--close-button-color);
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;
  border: 0;
  transition: all 0.5s ease;
}

.close-notification-second-button:hover {
  background-color: var(--text-blue);
}
.close-notification-second-button:hover .notification-close-text {
  color: var(--white);
}
