:root {
  --white: #f4f4f4;
  --default-white: #ffffff;
  --background-one: #1a1e1f;
  --background-two: #2b2b2b;
  --nav-blue: #00a3e0;
  --text-blue: #00aef3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "arial";
  src: url("assets/bpg_arial_2009.ttf") format("truetype");
}

@font-face {
  font-family: "mtavruli";
  src: url("assets/bpg_nino_mtavruli_normal.ttf") format("truetype");
}

@font-face {
  font-family: "mtavruli-bold";
  src: url("assets/bpg_nino_mtavruli_bold.ttf") format("truetype");
}

body {
  background-color: gray;
  margin: 0;
  font-family: arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
}

h1 {
  font-size: 100px;
}

.x-icon {
  transform: rotate(180deg);
  margin-top: 1rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 8.4rem;
  background-color: var(--background-one);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100rem;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.academy-wording {
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--default-white);
  font-family: mtavruli, sans-serif;
  margin-top: 1.5rem;
  letter-spacing: 0.15rem;
}

.company-icon {
  height: 4rem;
}

.navlinks-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navlink:visited,
.navlink:link {
  text-decoration: none;
  color: var(--white);
  font-size: 1.4rem;
  padding: 0 22px 0 22px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  transition: all 0.5s;
  display: block;
  padding-top: 0.4rem;
  padding-bottom: 0.41rem;
}

.navlink:hover,
.navlink:active {
  color: #00a3e0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-photo {
  width: 100%;
  object-fit: cover;
}

.main-text {
  position: absolute;
  top: 30%;
  width: 100rem;
  font-family: mtavruli-bold, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  max-height: 420px;
}

.project-name-1 {
  font-size: 4.2rem;
  font-weight: 900;
}

.project-name-2 {
  font-size: 3.6rem;
  font-weight: 900;
}

.info-section {
  background-color: var(--background-two);
  width: 100%;
  display: flex;
  justify-content: center;
}

.info {
  width: 100rem;
  margin-top: 5.8rem;
  margin-bottom: 5.8rem;
}

.info-text {
  font-size: 2.8rem;
  line-height: 150%;
}

.info-redirect-link {
  margin-top: 5.1rem;
  font-size: 2rem;
  color: var(--text-blue);
  font-weight: 600;
}
